.about {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.about > img {
    object-fit: cover;
    border-radius: 15px;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-info h1 {
    font-size: 3rem;
    font-family: "MarkaziText";
    color: black;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0px;
}

.about-info h3 {
    font-size: 2rem;
    color: black;
    font-weight: normal;
    font-family: "MarkaziText";
    margin: 0px;
}

.about-info p {
    width: 350px;
    padding: 10px 0;
}